body {
  /* background-color: lightblue; */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* #region Header */
.header {
  /* background-color: teal; */
}
.footer {
  background-color: lightpink;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky {
  position: sticky;
  bottom: 0;
  width: 100%;
}
/* #endregion */

/* Class selector */
.menu {
  list-style-type: circle;
}
.menu-item {
  /* border: 2px dashed teal; */
}
.menu-item-link {
}

.socials {
  /* background-color: hotpink; */
}
.socials-item {
}
.socials-link {
}
.socials-icon {
}

/* #region Ingredients */
.ingredients {
  /* background-color: lightseagreen; */
}
.ingredients-title {
}
.ingredients-list {
}
.ingredients-item {
}
.ingredients-ill {
}
.ingredients-subtitle {
}
/* #endregion */

/* #region Made */
.made {
}
/* #endregion */

/* ID selector */
/* #home {
  background-color: darkorange;
}

#home > nav {
  font-size: 32px;
}

nav {
  font-size: 10px;
} */

/* Attribute Selector */
/* [aria-label] {
  display: inline-block;
  padding: 10px;
  border: 2px solid red;
} */

/* [class='socials'] {
}
.socials {
} */

/* [aria-label='Site facebook.com'] {
  display: inline-block;
  padding: 10px;
  border: 2px solid;
  border-color: darkmagenta;
} */

/* html > body > header > ul > li > a > img {
  width: 80px;
  height: 80px;
}

header > nav img {
  width: 30px;
}

.logo-icon {
  width: 30px;
}

header > ul img {
} */

/* Pseudo classes */
.hero-title {
  font-family: sans-serif;
  color: teal;

  outline: 2px solid red;
  outline-offset: -2px;
}
.hero-title:hover {
  color: lightpink;
}
button:focus {
  color: darkred;
}
.hero-title:active {
  color: chartreuse;
}

.link {
  color: black;
}
.link:hover,
.link:focus {
  color: blue;
}

.link:active {
  color: #0a9bb6;
  color: rgb(0, 0, 0);
  color: rgb(255 104 255);
  color: rgb(255 104 255 / 50%);
  color: rgba(255, 104, 255, 0.5);
}

.hero-title {
  color: #0a9bb6;
  color: rgb(0, 0, 0);
  color: rgb(255 104 255);
  color: rgb(255 104 255 / 50%);
  color: rgba(255, 104, 255, 0.5);
  background-color: #fff;
}
